*{
    padding:0px;
    margin:0px;
}
body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: bisque;
}

.Gallery__header--title{
    background-color:black;
    color:white;
    padding:10px;
    border-radius: 10px;
    font-size: 30px;
    margin:5px;
    display: inline-block;
}
.Gallery__header--heading{
    text-align: center;
    font-size: 30px;
    border-bottom: grey solid 5px;
    width:80%;
    margin-bottom:20px;
}
.Gallery__image--one img{
    
    border:solid black 2px;
    flex-grow: 1;
    flex-basis:20%;
    width:150px;
    height:300px;
    object-fit: cover;
}
.Gallery__image--one{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    margin:0px 20px 60px 20px;
}
.Gallery__image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}
.Main{
    display: flex;
    justify-content: center;
   
}